/* The @import rule below imports the Playfair Display and Source Sans Pro fonts into the stylesheet*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@400&display=swap");

body {
  background-color: #eae2b7;
  color: #003049;
  font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
  padding: 40px;
}

/* Headings */
h1,
h2,
h3 {
  font-family: "Playfair Display", Times, serif;
  text-align: center;
}

/* Containers */
div {
  background-color: #eae2b7;
  margin: auto;
  width: 600px;
}

article {
  padding: 50px 0;
}

article div {
  width: 100%;
}

/* Paragraphs */
p {
  line-height: 1.5;
}

/* Links */
a:link {
  color: #d62828;
}

a:hover {
  color: #f77f00;
}

/* HEADER */
.flex-header {
  display: flex;
  align-items: center;
  padding: 0px;
}

/* left side */
.flex-header h1 {
  flex: 0.55;
}

/* right side */
.flex-header nav {
  flex: 0.45;
  text-align: center;
}

.flex-header a {
  margin: 10px;
}

/* ABOUT */
.section-about {
  display: flex;
  justify-content: center;
}

.about-left, .about-right {
  flex: 0.5;
}

/* PORTAFOLIO */
.section-portafolio {
  display: flex;
}

.portfolio-abstract, .portfolio-spiral, .portfolio-rainbow {
  display: flex;
  flex-direction: column;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0px;
  flex: 1;
}

.portfolio-abstract div, .portfolio-spiral div, .portfolio-rainbow div {
  margin-top: 0px;
  margin-bottom: 0px;
}

.portfolio-abstract p, .portfolio-spiral p, .portfolio-rainbow p {
  text-align: center;
  font-size: 14px;
  padding-left: 4px;
  padding-right: 4px;
}

/* Images */
img {
  width: 100%;
  max-width: 200px;
  height: auto;
}

.image-circle {
  border: 2px solid #003049;
  border-radius: 50%;
}

/* Footer */
footer {
  text-align: center;
}

/* Other page elements */
hr {
  border: 1px solid black;
}
